<div class="chart--show">
    <ul class="chart--list">
        <li class="chart--btn__hide">Hide Chart</li>
        <li class="chart--btn__item">
            <button class="chart--btn">
            <svg class="chart--icon">
                <use href="./images/chartBtn.svg#chart_down"></use>
            </svg>
            </button>
        </li>
    </ul>
</div>
<div class="chart-view">
    <ul class="chart--list">
        <li class="chart--btn__hide">Hide Chart</li>
        <li class="chart--btn__item">
            <button class="chart--btn">
            <svg class="chart--icon">
                <use href="./images/chartBtn.svg#chart_down"></use>
            </svg>
            </button>
        </li>
    </ul>
    <div class="chart-wrapper">
        
    </div>
</div>
